<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <table border="1">
        <tr>
            <td>Sl.No</td>
            <td>Date</td>
            <td>Certificate Name</td>
            <td>Faculty</td>
            <td>Need</td>
            <td>Status</td>
        </tr>
    {% for i in c %}
        <tr>
            <td>{{ i.r_id }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.c_id }}</td>
            <td>{{ i.f_id }}</td>
            <td>{{ i.need }}</td>
            <td>{{ i.status }}</td>
        </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>